{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gen | Docs</title>
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}?v1">
  </head>
  <body>
    <style>
        body{
            background-image: url("{% static 'assets/img/lines.png' %}") no-repeat center center/cover;
        }
        .hero{
          max-height: 60%;
        }

    </style>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/">Gen Django</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="https://github.com/luiisp/gen-django">Official Repo</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
        <div class="buttons">
          <a href="/signin" class="signin">Login</a>
          <a href="/signup" class="signup">Crie uma conta</a>
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <h2>Docs Gen Template Django</h2>
        <p>
            O Gen Django é um projeto Django que fornece uma estrutura inicial completa com operações CRUD e Confirmação por email para servir como um ponto de partida para outros projetos. Este documento descreve a estrutura do projeto, suas funcionalidades e como utilizá-lo.
        </p>

        <div>
            <h2>Features</h2>
            <ul>
                <li>CRUD de usuários</li>
                <li>Interface Responsiva</li>
                <li>Confirmação de conta por email</li>
                <li>Estrutura de projeto modular e escalável</li>
            </ul>
        </div>
        
        <div class="buttons">
          <a href="https://github.com/luiisp/gen-django" class="learn">Repository</a>
        </div>
      </div>

    </section>
  </body>
</html>
