{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gen | Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'css/my_account/edit_profile.css' %}?v1">
  </head>
  <body>
    <style>
        .profile-picture{
            background-image: url("{{ profile.picture.url }}");

        }
    </style>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/">Gen Django</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="https://github.com/luiisp/gen-django">Official Repo</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>

      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">

        <div class="account-infos">
            
            <form method="post" class="infos">
                {% csrf_token %}
                <div>
                    <p>Telefone</p>
                    <p>{{ profile.telephone|default_if_none:"Não Cadastrado" }}</p>
                </div>
                
                <div>
                    <p>Email</p>
                    <p>{{ request.user.email|default_if_none:"Não Cadastrado" }}</p>
                </div>

                <div>
                    <p>Aniversário</p>
                    <p>{{ profile.birthday|default_if_none:"Não Cadastrado" }}</p>
                </div>
                

                <div class="buttons">
                    <button>Salvar edição</button>
                    <a href="/myaccount" class="learn">Cancelar</a>
                    
                  </div>
                
            </form>

        </div>  

      </div>
    </section>
  </body>
</html>
