{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gen | Perfil de {{ request.user }}</title>
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}?v1">
  </head>
  <body>
    <style>
        body{
            background-image: url("{% static 'assets/img/lines.png' %}") no-repeat center center/cover;
            text-align: center;
        }
        .account-infos{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
    </style>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/">Gen Django</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="https://github.com/luiisp/gen-django">Official Repo</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>

      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">

        <div class="account-infos">
            <h1>Informações da Conta</h1>
            <div>
                <p>Nome: {{ request.user }}</p>
                <p>Email: {{ request.user.email }}</p>
                <p>Último Login: {{ request.user.last_login }}</p>
                <p>Ativo: {% if request.user.is_active %} Sim {% else %} Não {% endif %}</p>
    
            </div>

        </div>
        <div class="buttons">
            <a href="settings" class="join">Gerenciar Dados da Conta</a>

          </div>
      </div>
    </section>
  </body>
</html>
