{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gen | Perfil de {{ request.user }}</title>
    <link rel="stylesheet" href="{% static 'css/my_account/profile.css' %}?v1">
  </head>
  <body>
    <style>
        .profile-picture{
            background-image: url("{{ profile.picture.url }}");

        }
    </style>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/">Gen Django</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="https://github.com/luiisp/gen-django">Official Repo</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>

      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">

        <div class="account-infos">
            <div class="account-header">
                <div class="profile-picture"></div>
                <div>
                    <h1>{{ request.user }}</h1>
                    <p>Membro desde {{ request.user.date_joined }}</p>
                    <p>{% if profile.email_verified %} <span style="color: rgb(127, 255, 161);">Email Verificado</span> {% else %} <span style="color: rgb(246, 6, 66);">Email Não Verificado</span> {% endif %} </p>
                </div>
 
            </div>
            
            
            <div class="infos">
                <div>
                    <p>Telefone</p>
                    <p>{{ profile.telephone|default_if_none:"Não Cadastrado" }}</p>
                </div>
                
                <div>
                    <p>Email</p>
                    <p>{{ request.user.email|default_if_none:"Não Cadastrado" }}</p>
                </div>

                <div>
                    <p>Aniversário</p>
                    <p>{{ profile.birthday|default_if_none:"Não Cadastrado" }}</p>
                </div>
                

            </div>

        </div>
        <div class="buttons">
            <a href="edit" class="join">Editar Dados da Conta</a>

          </div>
      </div>
    </section>
  </body>
</html>
