{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gen | Menu</title>
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}?v1">
  </head>
  <body>
    <style>
        body{
            background-image: url("{% static 'assets/img/lines.png' %}") no-repeat center center/cover;
        }
    </style>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="#">Gen Django</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="https://github.com/luiisp/gen-django">Official Repo</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
        <div class="buttons">
          <a href="/signup" class="signup">Gerenciar minha Conta</a>
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <h2>Olá {{ request.user }}</h2>
        <p>
            Gen-Django é um sistema de gerenciamento de usuários Server-Side totalmente customizado no Django e desenvolvido por LuisP. Este sistema pode ser utilizado como base para outros projetos. Official Repo: <a href="https://github.com/luiisp/gen-django">Luiisp/Gen Django</a>, Read Docs: <a href="/docs">Docs</a>
        </p>
        <div class="buttons">
          <a href="/signin" class="join">Faça Login</a>
          <a href="/docs" class="learn">Leia mais</a>
        </div>
      </div>
      <div class="img">
        <img src="{% static 'assets/img/rocket.webp' %}" alt="rocket" />
      </div>
    </section>
  </body>
</html>
